<template lang="pug">
  .container
    b-loading(:is-full-page="true" :active="!initialized" :can-cancel="false")
    div(v-if="initialized")
      div(v-if="loggedIn")
        logout-button
      div(v-else)
        login-button

</template>

<script lang="ts">
import { mapGetters } from "vuex";
import { Vue, Component } from "vue-property-decorator";

import LoginButton from "./loginButton.vue";
import LogoutButton from "./logoutButton.vue";

@Component({
  components: { LoginButton, LogoutButton },
  computed: {
    ...mapGetters("auth", ["initialized", "loggedIn"])
  }
})
export default class extends Vue {}
</script>
