<template lang="pug">
  button.button.is-info(@click="login") google login
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class extends Vue {
  async login() {
    await this.$store.dispatch("auth/login");
  }
}
</script>
