<template lang="pug">
  button.button.is-info(@click="logout") logout
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class extends Vue {
  async logout() {
    await this.$store.dispatch("auth/logout");
  }
}
</script>
