<template lang="pug">
  div
    figure.image.is-128x128(v-for="imageUrl in imageUrls" :key="imageUrl")
      img(:src="imageUrl")
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class extends Vue {
  get imageUrls() {
    return this.$store.getters["searcher/imageUrls"];
  }
}
</script>
