<template lang="pug">
  div
    // tag input
    tags-input(ref="tagsInput")

    images

</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

import TagsInput from "./tagsInput.vue";
import Images from "./images.vue";

@Component({
  components: { TagsInput, Images }
})
export default class extends Vue {}
</script>
