<template lang="pug">
  b-field(label="search by tags")
    b-taginput(
    default
    v-model="tags"
    ellipsis
    icon="label"
    @input="updateTags"
    placeholder="search by tags")
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class extends Vue {
  tags: string[] = this.$store.getters["searcher/tags"];

  async updateTags(tags: string[]) {
    await this.$store.dispatch("searcher/updateTags", { tags });
  }
}
</script>
