<template lang="pug">
  .container
    upload-box
    search-box

</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

import UploadBox from "~/components/upload/index.vue";
import SearchBox from "~/components/search/index.vue";

@Component({
  components: { UploadBox, SearchBox }
})
export default class extends Vue {}
</script>
