<template lang="pug">
div
  b-field
    b-upload(v-model="files" @input="uploadFiles" multiple drag-drop)
      section.section
        .content.has-text-centered
          p
            b-icon(icon="upload" size="is-large")
          p ファイルを選んでアップロード！

  .tags
    span.tag.is-primary(
    v-for="(file, index) in files"
    :key="index")
      | {{ file.name }}
      button.delete.is-small(type="button" @click="removeFile(index)")
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class extends Vue {
  files: File[] = [];

  async uploadFiles(files: File[]) {
    await this.$store.dispatch("uploader/updateFiles", { files });
  }

  async removeFile(index: number) {
    await this.$store.dispatch("uploader/removeFile", { index });
    this.files = this.$store.getters["uploader/files"];
  }
}
</script>
