<template lang="pug">
  div
    // tag input
    tags-input(ref="tagsInput")

    // drag & drop box
    draggable-upload-box(ref="uploadBox")

    // upload button
    a.button.is-primary(v-if="uploading" disabled) uploading...
    a.button.is-primary(v-else @click="upload") upload
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

import DraggableUploadBox from "./draggableUploadBox.vue";
import TagsInput from "./tagsInput.vue";

@Component({
  components: { DraggableUploadBox, TagsInput }
})
export default class extends Vue {
  // upload flag for ui control
  get uploading(): boolean {
    return this.$store.getters["uploader/uploading"];
  }

  async upload() {
    try {
      await this.$store.dispatch("uploader/upload");
      this.info("アップロード成功 :)");
    } catch (e) {
      console.error("アップロード失敗 :(");
      console.error(e);
      this.error(`${e.message}`);
    }
  }

  info(message) {
    this.$toast.open({
      message,
      type: "is-info"
    });
  }

  error(message) {
    this.$toast.open({
      message,
      type: "is-danger"
    });
  }
}
</script>
