<template lang="pug">
  b-field(label="Add some tags")
    b-taginput(
    default
    v-model="tags"
    ellipsis
    icon="label"
    @input="updateTags"
    placeholder="Add a tag")
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class extends Vue {
  tags: string[] = this.$store.getters["uploader/tags"];

  async updateTags(tags: string[]) {
    await this.$store.dispatch("uploader/updateTags", { tags });
  }
}
</script>
