<template lang="pug">
  h1.title.is-1 {{ title }}
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class extends Vue {
  @Prop(String)
  name!: string;

  title = "nuxt: " + this.name;
}
</script>
