<template lang="pug">
  div(v-if="!initialized")

    // loader to hide contents until login
    b-loading(:is-full-page="true" :active="!initialized" :can-cancel="false")

  section.section(v-else)
    div
      login-switch
    div
      nuxt
</template>

<script lang="ts">
import { mapGetters } from "vuex";
import { Vue, Component, Prop } from "vue-property-decorator";

import LoginSwitch from "~/components/login/index.vue";

@Component({
  components: { LoginSwitch },
  computed: {
    ...mapGetters("auth", ["initialized", "loggedIn"])
  }
})
export default class extends Vue {}
</script>
